/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Fix for the https comment */
.ci-link {
  background: url(https://github.com/Brooooooklyn/nice/actions) !important;  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
